html, body {
    background-image: url(images/photo-1484480974693-6ca0a78fb36b.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: fixed;
    align-items: center;
    top: 20%;
    left: 40%;
    font-size:  1.1cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
   
  }

#nameHead{
    position: fixed;
    align-items: center;
    font-style: oblique;
    
    font-size: 3.5cm;
    top: -7%;
    left: 32%;
}

#inputField{
    width: 300px;
    height: 46px;
    border: 2px solid black;
    outline: none;
    font-size: 30px;
    vertical-align: middle;
    
}

#addToDo {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    vertical-align: middle;
    font-size: 30px;
}

.to-dos {
    margin-top: 25px;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}